[Unit]
Description=Spring Boot Java App
Requires=mariadb.service
Requires=nginx.service
After=syslog.target

[Service]
User=app
ExecStart=java -jar /srv/app/app.jar
Restart=always

[Install]
WantedBy=multi-user.target

